p {
    padding: 2rem;
    border-style: double;
    border-width: 0.5rem;
    border-radius: 1rem;
    border-color: cadetblue;
    box-shadow: 2px 12px 5px 1px rgba(0, 0, 184, 0.2);
}

.projects {
    padding: .5rem;
    display: flex;
}

.projectsContent {
    padding: 2rem;
    margin: 5rem;
    display: grid;
    gap: 2rem;
    background-color: rgb(0, 179, 196);
    border: 10px solid;
    border-radius: 5rem;
    border-color: cadetblue;
    color: rgb(255, 255, 255);
}


.header {
    display: flex;
    justify-content: flex-end;
    padding: 2rem;
}

.grid-container {
    display: grid;
    gap: 2rem;
    grid-template-columns: repeat(3, 1fr);
}



.project1,
.project2,
.project3,
.project4,
.project5,
.project6 {
    box-shadow: 1px 20px 10px 0px rgba(0, 0, 184, 0.2);
}
