a:hover {
    padding: .5rem;
    border-radius: 1rem;
    background-color: rgb(0, 179, 196);
    color: rgb(255, 255, 255);
}

.projects {
    padding: 5.45rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: middle;
    box-shadow: 0px 1rem 15px 55px rgb(47, 236, 253);
    border-radius: 5rem;
}

.projectsContent {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: rgb(0, 179, 196);
    border: 1rem solid;
    border-radius: 5rem;
    border-color: cadetblue;
    color: rgb(255, 255, 255);
}

.header {
    display: flex;
    justify-content: flex-end;
    margin-left: 1.5rem;
    padding: 2rem;
}

.grid-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, 1fr);
    gap: 2rem;
}

.nest {
    padding: 2.5rem;
    margin: 2.5rem;
    border: 5px inset;
    border-radius: 5rem;
    border-color: cadetblue;
    background-color: rgb(0, 179, 196);
    background-image: 
    linear-gradient( rgb(0, 179, 196), rgb(66, 115, 143), rgb(0, 179, 196));
}

.lists {
    list-style-type: none;
    margin: 1rem;
    padding: 1rem;
    border-style: double;
    border-width: 0.5rem;
    border-radius: 1rem;
    border-color: cadetblue;
    background-image: 
    linear-gradient( rgb(0, 179, 196), rgb(66, 115, 143));
    box-shadow: 2px 12px 5px 1px rgba(0, 0, 184, 0.2);
    color: rgb(255, 255, 255);
    text-decoration: double;
}


.project1,
.project2,
.project3,
.project4
{
    box-shadow: 1px 20px 1rem 0px rgba(0, 0, 184, 0.2);
    list-style: none;
}
@media only screen and (max-width: 800px) {
    .grid-container {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        grid-template-rows: repeat(5, 1fr);
        gap: 2rem;
    }
    .projects {
        box-shadow: transparent;
    }
}

@media only screen and (max-width: 600px) {
    .projects {
        padding: 3rem;
    }
    .projectsContent {
        border-width: 0.5rem;
        border-radius: 3rem;
    }
    .header {
        justify-content: center;
        margin-left: 0;
        padding: 1rem;
    }
    .nest {
        padding: 1.5rem;
        margin: 1.5rem;
        border-radius: 3rem;
    }
    .lists {
        margin: 0.5rem;
        padding: 0.5rem;
        border-width: 0.3rem;
        border-radius: 0.5rem;
    }
    .project1,
    .project2,
    .project3,
    .project4 {
        box-shadow: none;
    }
}

