h1 {
    display: flex;
    justify-content: flex-end;
}

h3 {
    margin: 1rem;
    padding: 1rem;
    display: flex;
    justify-content: flex-end;
    background-color: rgb(0, 179, 196);
    border: 10px solid;
    border-radius: 5rem;
    border-color: cadetblue;
    color: rgb(255, 255, 255);
    box-shadow: 15px 5px 15px 5px rgb(47, 236, 253);
}

.resume {
    padding: .5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    box-shadow: 0px 10px 15px 55px rgb(47, 236, 253);
    border-radius: 5rem;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 2rem;
}

.resumeContent {
    padding: 2rem;
    margin: 5rem;
    display: grid;
    gap: 2rem;
    background-color: rgb(0, 179, 196);
    border: 10px solid;
    border-radius: 5rem;
    border-color: cadetblue;
    color: rgb(255, 255, 255);
}

.job,
.school {
    grid-template-columns: 2, 1fr;
    padding: 2rem;
    margin: 1rem;
    border-radius: 1rem;
    color: antiquewhite;
    box-shadow: 12px 12px 2px 1px rgba(0, 0, 184, 0.2);
}

.job {
    border: 10px double;
    border-radius: 2rem;
}

.school {
    border: 10px double;
    border-radius: 2rem;
}

@media screen and (max-width: 768px) {
    h1,
    h3,
    .resume,
    .resumeContent,
    .job,
    .school {
        justify-content: center;
        text-align: center;
    }
}
