h1 {
display:flex;
justify-content: flex-end;
}

.resume {
    padding: .5rem;
}

.resumeContent {
    padding: 2rem;
    margin: 5rem;
    display: grid;
    gap: 2rem;
    background-color: rgb(0, 179, 196);
    border: 10px solid;
    border-radius: 5rem;
    border-color: cadetblue;
    color: rgb(255, 255, 255);
}

.job,
.school {
    padding: 2rem;
    margin: 1rem;
    border-radius: 1rem;
    color: antiquewhite;
    box-shadow: 12px 12px 2px 1px rgba(0, 0, 184, 0.2);
}

.job{
    border: 10px double;
    border-radius: 2rem;
}

.school {
    border: 10px double;
    border-radius: 2rem;
}



