.about {
    padding: .5rem;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.imageSection {
    padding: 2rem;
    margin: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(0, 179, 196);
    border: 10px solid;
    border-radius: 5rem;
    border-color: cadetblue;
    color: rgb(255, 255, 255);
}

.aboutContent {
    padding: 2rem;
    margin: 5rem;
    display: grid;
    gap: 2rem;
    background-color: rgb(0, 179, 196);
    border: 10px solid;
    border-radius: 5rem;
    border-color: cadetblue;
    color: rgb(255, 255, 255);
}

.headerItem {
    display: flex;
    justify-content: flex-end;
}

.textBody{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: large;
}

img {
    width: 100%;
    border-radius: 2.5rem;
}

.imageContainer {
    max-width: 30rem;
    min-width: 15rem;
}

