.about {
    padding: .5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    box-shadow: 0px 1rem 15px 55px rgb(47, 236, 253);
    border-radius: 5rem;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
}

.aboutContent {
    padding: 2rem;
    margin: 5rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 2rem;
    background-color: rgb(0, 179, 196);
    border: 1rem solid;
    border-radius: 5rem;
    border-color: cadetblue;
    color: rgb(255, 255, 255);
    align-items: center;
    font-size: large;
}

.textBody {
    display: flex;
    flex-direction: column;
    max-width: 30rem;
    min-width: 15rem;
}

img {
    width: 100%;
    border-radius: 2.5rem;
}

.imageContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    max-width: 30rem;
    min-width: 15rem;
    padding: 1rem;
}

.imageSection {
    padding-top: 1rem;
    margin: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(0, 179, 196);
    border: .5rem solid;
    border-radius: 5rem;
    border-color: cadetblue;
    box-shadow: 0px 1rem 15px 25px rgb(47, 236, 253);
    color: rgb(255, 255, 255);
}

.imageItem {
    padding: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1rem;
}

.imageItem:hover {
    padding: 1rem;
    box-shadow: 0px 0px 15px 5px rgb(47, 236, 253);
    color: aliceblue;
}

@media screen and (max-width: 1143px) {
    .headerItem {
        padding: 1rem;
        background-image:
        linear-gradient(to right, rgb(0, 133, 145), rgb(0, 183, 200), rgb(0, 179, 176));
        border: 1rem solid;
        border-radius: 5rem;
        border-color: cadetblue;
        box-shadow:
        0 0 0 2px white,
        0.3em 0.3em 1em #06013c;
        color: rgb(255, 255, 255);
        line-height: 1.1;
        font-size: 3em;
        text-shadow: 4px 4px 4px black;

    }
}

@media screen and (max-width: 768px) {
    .about {
        padding: 1rem;
    }
    .aboutContent {
        margin: 3rem;
    }

    .textBody {
        max-width: 20rem;
        min-width: 10rem;
    }

    .imageContainer {
        max-width: 20rem;
        min-width: 10rem;
    }

    .imageSection {
        margin: 1rem;
    }
}

@media screen and (max-width: 600px) {
    .imageContainer {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
    }
}

/* .headerItem {
    margin: 1.5rem;
    padding: 1rem;
    padding-right: 2.5rem;
    max-width: 10rem;
    min-width: 5rem;
} */