.contact {
    display: flex;
    gap: 2rem;
    justify-content: center;
    flex-wrap: wrap;
}

.contactSection {
    padding: 2rem;
    max-width: 40rem;
    min-width: 20rem;
}

.contactContent {
    padding: 2rem;
    max-width: 40rem;
    min-width: 20rem;
}