.contact {
    display: flex;
    gap: 2rem;
    justify-content: center;
    flex-wrap: wrap;
}

.contactSection {
    padding: 2rem;
    max-width: 40rem;
    min-width: 20rem;
}

.contactContent {
    padding: 2rem;
    margin: 5rem;
    background-color: rgb(193, 193, 193);
    border: 1px solid cadetblue;
    color: cadetblue;
    border-radius: 5rem;
    border-color: aliceblue
}