.footer {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin: 1rem;
    padding: 1rem;
    border: 2.5px inset;
    border-radius: 5rem;
    border-color: cadetblue;
    background-image: 
    linear-gradient( rgb(0, 179, 196), rgb(66, 115, 143), rgb(0, 179, 196));
}

@media screen and (max-width: 81rem) {
    .footer {
        opacity: 5;
      background-color: antiquewhite;
      color: black;
    }
  }
