.navBar {
    margin-top: 0;
    display: flex;
    justify-content: flex-end;
    gap: 1rem;
    padding: 2rem;
    background-color: rgb(36, 22, 240);
}

.navBar li {
    list-style: none;
    width: 10%;
}

.navItem {
    color:antiquewhite;
}