/* .menuButton {
    display: flex;
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    height: 50%;
    background-image: 
    linear-gradient( rgb(0, 179, 196), rgb(66, 115, 143), rgb(0, 179, 196));
    border: 10px double;
    border-radius: 5rem;
    border-color: #646cff;
    font-size: large;
    font-weight: bold;
    writing-mode: vertical-rl;
    text-orientation: upright;
} */

/* .menuButton:hover {
    opacity: 5;
    border: 15px double;
    border-color: aliceblue;
    color: #ffffff;
    text-emphasis: bold;
    text-shadow: 4px 4px 4px black;
    box-shadow: 4px 0px 1.5rem black;
    transition: transform 0.5s ease-in-out;
    transform: translateX(.5rem);
} */


/* span {

} */

/* .navItem:hover span {
    visibility:
} */

.dropBar {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1rem;
    background-image: 
    linear-gradient( rgb(0, 179, 196), rgb(66, 115, 143), rgb(0, 179, 196));
    border: 10px double;
    border-radius: 5rem;
    border-color: aliceblue;
    font-weight: bold;
    list-style-type: none;
    box-shadow: 4px 0px 1.5rem black;
}

/* .dropBar:hover {
    visibility: visible;
    display: flex;
    border: 10px double;
    border-radius: 5rem;
    color: aliceblue;
    box-shadow: 4px 0px 2.5rem
    rgb(255, 255, 255); 
    transition: transform 0.5s ease-in-out; transform: translateX(.5rem); 
} */

.navItem {
    display: flex;
    margin-top: .5rem;
    margin-inline: 1.5rem;
    padding: .5rem;
    padding-inline: 1.5rem;
    background-image: 
    linear-gradient( rgb(0, 179, 196), rgb(66, 115, 143), rgb(0, 179, 196));
    border: 10px double;
    border-radius: 5rem;
    border-color: #646cff;
    box-shadow: 4px 0px 1.5rem rgb(255, 255, 255);
    font-size: large;
    font-weight: bold;
    font-size: 1.25rem;
    font-weight: bold;
    text-shadow: 4px 4px 3px black;
    color: rgb(255, 255, 255);
}

.navItem:hover {
    border: 10px double;
    border-radius: 5rem;
    color: aliceblue;
    box-shadow: 4px 0px 2.5rem rgb(255, 255, 255);
    transition: transform 0.5s ease-in-out;
    transform: translateX(.5rem);
}


@media only screen and (min-width: 601px) and (max-width: 1024px) {
    .dropBar {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        margin: 1rem;
        padding: 1rem;
        background-color: transparent;
        border: none;
    }
    .navItem {
        display: flex;
        justify-content: center;
        text-align: center;
        padding: 1.5rem;
        margin: 0;
    }
    .navItem:active {
        border: 10px double;
        border-radius: 5rem;
        color: aliceblue;
        box-shadow: 4px 0px 2.5rem rgb(255, 255, 255);
        transition: transform 0.5s ease-in-out;
        transform: translateX(.5rem);
    }

}

@media only screen and (max-width: 600px) {
    .menu {
        display: flex;
        flex-direction: column;
    }
    .dropBar {

        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(2, 1fr);
        gap: 1rem;
        align-items: center;
        justify-content: center;
        margin: 1rem;
        padding: 1rem;
        background-color: transparent;
        border: none;
    }
    .navItem {
        display: flex;
        justify-content: center;
        text-align: center;
    }
    
}

@media screen and (max-width: 320px){
    .dropBar {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(2, 1fr);
        gap: 1rem;
        align-items: center;
        justify-content: center;
        margin: 1rem;
        padding: 1rem;
        background-color: transparent;
        border: none;
    }
    .navItem {
        display: flex;
        justify-content: center;
        text-align: center;
        padding: 1.5rem;
        margin: 0;
        
    }
    
}


  
  /* Tablets and small desktops */
  @media only screen and (min-width: 601px) and (max-width: 1024px) {
    body {
      width: 100vw;
      height: 100vh;
    }
  }
  
  /* Large desktops and beyond */
  @media only screen and (min-width: 1025px) {
    body {
      width: 100vw;
      height: 100vh;
    }
  }



