.menuButton {
    display: flex;
    position: fixed;
    justify-content: middle;
    align-items: center;
    margin: 2rem;
    background-image: 
    linear-gradient( rgb(0, 179, 196), rgb(66, 115, 143), rgb(0, 179, 196));
    border: 10px double;
    border-radius: 5rem;
    border-color: #646cff;
    font-size: large;
    font-weight: bold;
}

.menuButton:hover {
    opacity: 5;
    border: 15px double;
    border-color: aliceblue;
    color: #ffffff;
    text-emphasis: bold;
    text-shadow: 4px 4px 4px black;
    box-shadow: 4px 0px 1.5rem black;
    transition: transform 0.5s ease-in-out;
    transform: translateX(.5rem);
}

.dropBar {
    display: flex;
    position: absolute;
    top: 0;
    right: 25%;
    margin: 1rem;
    padding: 1rem;
    justify-content: space-around;
    width: 50%;
    background-image: 
    linear-gradient( rgb(0, 179, 196), rgb(66, 115, 143), rgb(0, 179, 196));
    border: 10px double;
    border-radius: 5rem;
    border-color: aliceblue;
    font-size: large;
    font-weight: bold;
    list-style-type: none;
    box-shadow: 4px 0px 1.5rem black;
}

.navItem {
    background-image: 
    linear-gradient( rgb(0, 179, 196), rgb(66, 115, 143), rgb(0, 179, 196));
    border: 10px double;
    border-radius: 5rem;
    border-color: #646cff;
    font-size: large;
    font-weight: bold;
    font-size: large;
    font-weight: bold;
    text-shadow: 4px 4px 4px black;
    color: rgb(255, 255, 255);
}

.navItem:hover {
    border: 10px double;
    color: aliceblue;
    transition: transform 0.5s ease-in-out;
    transform: translateX(.5rem);
}

/* @media screen and (max-width: 840px) {
    .navItem {
    }
} */

@media screen and (max-width: 720px) {
    .dropBar {
        background-color: none;
        border-color: none;
    }

    .navItem {
        opacity: 1;
        border: 10px double;
        border-color: #646cff;
        color: #ffffff;
        box-shadow: none;
    }
}